<!-- <%= event%> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <title>Attend Event</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="navbar">
      <div class="left">
        <input type="text" placeholder="Search event..." class="search-bar" />
      </div>
      <div class="center">
        <img src="/img/tbocom.png" alt="Logo" class="logo1" />
      </div>
      <div class="right">
        <div class="user-info">
          <img src="/img/Photo.jpg" alt="User Photo" class="user-photo" />
          <span class="user-name">Samarth Bura</span>
        </div>
      </div>
    </nav>
    <div class="image-container">
      <!-- <img src="/img/amazon.jpg" alt="Event Image" class="main-image" /> -->
      <div class="overlay-text" style="margin-top: 2rem">
        <%= event.event_title%>
      </div>
    </div>

    <div class="event-details">
      <div class="event-info">
        <h2 class="event-title"><%= event.event_title%></h2>
        <p class="event-location">
          Location: <%= event.location.city%> , <%= event.location.state%>, <%=
          event.location.country%>
        </p>
        <form action="/register-event" method="POST">
          <input type="hidden" name="event_id" value="<%= event._id %>" />
          <button type="submit" class="register-button" <%= is_registered ? 'disabled' : '' %>>
            <%= is_registered ? 'Already Registered' : 'Register' %>
          </button>
        </form>
        <p class="registered-info">100 people registered</p>
      </div>
      <div class="event-date">
        <div class="date-box">
          <% const startDate = new Date(event.date_range.start_date); const day
          = startDate.getDate(); const month =
          startDate.toLocaleString('default', { month: 'long' }); const year =
          startDate.getFullYear(); %>
          <span class="date-number"><%= day %></span>
          <span class="date-month"><%= month %>, <%= year %></span>
        </div>
      </div>
    </div>

    <div class="additional-info">
      <div class="info-details">
        <h3 class="info-header">All you need to know</h3>
        <p class="info-text">
          This event will include various activities and opportunities to
          connect with people. Be sure to attend and enjoy the event! This event
          will include various activities and opportunities to connect with
          people. Be sure to attend and enjoy the event!
          <br /><br />
          This event will include various activities and opportunities to
          connect with people. Be sure to attend and enjoy the event! This event
          will include various activities and opportunities to connect with
          people.
        </p>
      </div>
      <div class="info-stats">
        <div class="stat-row">
          <div class="icon-box">
            <i class="ri-team-fill"></i>
          </div>
          <div class="stat-content">
            <span class="stat-label">People Registered</span>
            <span class="stat-value">150</span>
          </div>
        </div>
        <div class="stat-row">
          <div class="icon-box">
            <i class="ri-group-fill"></i>
          </div>
          <div class="stat-content">
            <span class="stat-label">Team Size</span>
            <span class="stat-value">4</span>
          </div>
        </div>
        <div class="stat-row">
          <div class="icon-box">
            <i class="ri-sparkling-2-fill"></i>
          </div>
          <div class="stat-content">
            <span class="stat-label">Impressions</span>
            <span class="stat-value">1,200</span>
          </div>
        </div>
        <div class="stat-row">
          <div class="icon-box">
            <i class="ri-time-fill"></i>
          </div>
          <div class="stat-content">
            <span class="stat-label">Registration Deadline</span>
            <span class="stat-value"><%= month %> <%= day %>, <%= year %></span>
          </div>
        </div>
        <div class="stat-row">
            <form action="/register-event" method="POST">
                <input type="hidden" name="event_id" value="<%= event._id %>" />
                <button type="submit" class="register-button" <%= is_registered ? 'disabled' : '' %>>
                  <%= is_registered ? 'Already Registered' : 'Register' %>
                </button>
              </form>
        </div>
      </div>
    </div>

    <div class="schedule-details">
      <h1><%= event.event_title%></h1>
      <div class="schedule-box">
        <div class="column left">
          <div class="schedule-row">
            <div class="icon-box">
              <i class="ri-calendar-line"></i>
            </div>
            <div class="stat-content">
              <span class="stat-label">Registration begins</span>
              <% const now = new Date(); const rbday
              =String(now.getDate()).padStart(2, '0'); const rbmonth =
              now.toLocaleString('default', { month: 'short' }); const rbyear
              =String(now.getFullYear()).slice(-2); %>

              <span class="stat-value">
                <%= rbday %> <%= rbmonth %> <%= rbyear %>, 11:59 PM IST
              </span>
            </div>
          </div>
          <div class="schedule-row">
            <div class="icon-box">
              <i class="ri-calendar-line"></i>
            </div>
            <div class="stat-content">
              <span class="stat-label">Event starts</span>
              <span class="stat-value"
                ><%= day %> <%= month %> <%= year %>, 11:59 PM IST</span
              >
            </div>
          </div>
        </div>
        <div class="column right">
          <div class="schedule-row">
            <div class="icon-box">
              <i class="ri-calendar-line"></i>
            </div>
            <div class="stat-content">
              <span class="stat-label">Registration deadline</span>
              <span class="stat-value"
                ><%= day %> <%= month %> <%= year %>, 11:59 PM IST</span
              >
            </div>
          </div>
          <div class="schedule-row">
            <div class="icon-box">
              <i class="ri-calendar-line"></i>
            </div>
            <div class="stat-content">
              <span class="stat-label">Event ends</span>
              <% const endDate = new Date(event.date_range.end_date); const
              eday= startDate.getDate(); const
              emonth=startDate.toLocaleString('default', { month: 'long' });
              const eyear= startDate.getFullYear(); %>
              <span class="stat-value"
                ><%= eday+4 %> <%= emonth %> <%= eyear %>, 11:59 PM IST</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="attendees-section">
      <h3 class="attendees-heading">Our Attendees</h3>
      <div class="map-container">
        <iframe
          class="map-frame"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d482632.15259705915!2d72.5492581811288!3d19.0829114878745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c6306644edc1%3A0x5da4ed8f8d648c69!2sMumbai%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1738159583653!5m2!1sen!2sin"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
        <div class="attendee-card">
          <h4 class="attendee-card-heading">Connect with Attendees</h4>

          <div class="attendee-row">
            <img src="/img/Photo.jpg" alt="Attendee 1" class="attendee-photo" />
            <div class="attendee-info">
              <span class="attendee-name">Kunal Vinayak Bura</span>
              <button class="message-button">Message Him</button>
            </div>
          </div>

          <div class="attendee-row">
            <img src="/img/Photo.jpg" alt="Attendee 2" class="attendee-photo" />
            <div class="attendee-info">
              <span class="attendee-name">Mayuri Kishor Bura</span>
              <button class="message-button">Message Her</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="footer-column logo-column">
        <img src="/img/tbocom.png" alt="Logo" class="footer-logo" />
        <div class="social-icons">
          <div class="social-circle"><i class="ri-instagram-fill"></i></div>
          <div class="social-circle">
            <i class="ri-facebook-circle-fill"></i>
          </div>
          <div class="social-circle"><i class="ri-twitter-fill"></i></div>
        </div>
      </div>

      <div class="footer-column">
        <h4>Events</h4>
        <p>TBO Hackathon</p>
        <p>Amazon Hackathon</p>
        <p>Flipkart Grid</p>
      </div>

      <div class="footer-column">
        <h4>Conferences in</h4>
        <p>Mumbai</p>
        <p>Bangalore</p>
        <p>Delhi</p>
        <p>Chennai</p>
        <p>Kolkata</p>
      </div>

      <div class="footer-column">
        <h4>Notify Me</h4>
        <p>Summits</p>
        <p>Conferences</p>
        <p>Meetings</p>
        <p>Exhibitions</p>
      </div>

      <div class="footer-column">
        <h4>About Us</h4>
        <p>Our Story</p>
        <p>Work With Us</p>
      </div>

      <div class="footer-column">
        <h4>Contact Us</h4>
        <p>XXXX989890</p>
        <p>xxx@gmail.com</p>
      </div>
    </footer>
  </body>
</html>
